.circular {
width: 40px;
height: 40px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url('../img/profile_pic.jpg') no-repeat;
background-size: cover;
margin-top:5px;
}

.iconTextBox
{
background-image: url('../img/current_location.svg') ;
background-repeat: no-repeat;
background-position:right;
vertical-align: middle;
background-color: white;
}

a{
    color: white important;
}
